<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <description></description>
    <display-name>Hi2</display-name>
    <servlet-name>Hi2</servlet-name>
    <servlet-class>multi.Hi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hi2</servlet-name>
    <url-pattern>/Hi2</url-pattern>
  </servlet-mapping>
  <display-name>web01</display-name>
  
  <servlet> 
  	<servlet-name>test</servlet-name>
  	<servlet-class>multi.Test</servlet-class>
  	<init-param>
  		<param-name>no</param-name>
  		<param-value>nononononononono</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test.do</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  	<servlet-name>monday</servlet-name>
  	<servlet-class>multi.Monday</servlet-class>
  	<init-param>
  		<param-name>temp</param-name>
  		<param-value>good</param-value>
  	</init-param>
  </servlet>
   <servlet-mapping>
  	<servlet-name>monday</servlet-name>
  	<url-pattern>/monday2.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hi</servlet-name>
    <servlet-class>multi.Hi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hi</servlet-name>
    <url-pattern>/welcome2</url-pattern>
  </servlet-mapping>
</web-app>